@model applicationmvc.Models.ChangePasswordViewModel

@{
    ViewData["Title"] = "Изменить пароль";
}

<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="card" style="width: 30rem;">
        <div class="card-body">
            <form asp-action="ChangePassword">
                <div class="form-group">
                    <label asp-for="CurrentPassword" class="control-label"></label>
                    <div class="input-group">
                        <input asp-for="CurrentPassword" class="form-control" type="password" id="currentPassword" />
                        <button type="button" class="btn btn-outline-secondary" onclick="togglePassword('currentPassword')">Показать</button>
                    </div>
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword" class="control-label"></label>
                    <div class="input-group">
                        <input asp-for="NewPassword" class="form-control" type="password" id="newPassword" />
                        <button type="button" class="btn btn-outline-secondary" onclick="togglePassword('newPassword')">Показать</button>
                    </div>
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Изменить пароль</button>
                </div>
                <div class="text-danger text-center">
                    @Html.ValidationSummary(true)
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function togglePassword(fieldId) {
        var passwordField = document.getElementById(fieldId);
        var passwordFieldType = passwordField.type;
        if (passwordFieldType === 'password') {
            passwordField.type = 'text';
            event.target.innerText = 'Скрыть';
        } else {
            passwordField.type = 'password';
            event.target.innerText = 'Показать';
        }
    }
</script>
