@model applicationmvc.Models.User

@{
    ViewData["Title"] = "Регистрация";
}

<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="card" style="width: 30rem;">
        <div class="card-body">
            <form asp-action="Register">
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserEmail" class="control-label"></label>
                    <input asp-for="UserEmail" class="form-control" />
                    <span asp-validation-for="UserEmail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <div class="input-group">
                        <input asp-for="Password" class="form-control" type="password" id="password" />
                        <button type="button" class="btn btn-outline-secondary" onclick="togglePassword()">Показать</button>
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                </div>
            </form>
            <div class="text-center mt-2">
                <p class="mb-0">Уже зарегистрированы?</p>
                <a asp-area="" asp-controller="User" asp-action="Login">Войдите</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#PhoneNumber').inputmask('+7 (999) 999-99-99', {
                clearMaskOnLostFocus: false
            });
        });

        function togglePassword() {
            var passwordField = document.getElementById('password');
            var passwordFieldType = passwordField.type;
            if (passwordFieldType === 'password') {
                passwordField.type = 'text';
                event.target.innerText = 'Скрыть';
            } else {
                passwordField.type = 'password';
                event.target.innerText = 'Показать';
            }
        }
    </script>
}