@using System.Security.Claims
@model applicationmvc.Models.ProductCategory

@{
    ViewData["Title"] = "Детали категории";

    bool isAdmin = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value == "3";
}

<div>
    <h4>Детали категории</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
    </dl>
</div>
<div>
    @if (isAdmin)
    {
        <a asp-action="Edit" asp-route-id="@Model?.ProductCategoryId">Редактировать</a>
        <span class="separator">|</span>
    }
    <a asp-action="Index">Вернуться</a>
</div>
